#fxa-dialog,
#fxa-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.fxa-dialog {
  animation: show-fx-acct 0.5s;
}

@keyframes show-fx-acct {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}
