html, body {
  height: 100%;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  /* XXX: The below overflow property is being ignored by B2G Phone
     https://bugzilla.mozilla.org/show_bug.cgi?id=777672
  */
  overflow: hidden;
}